<% provide(:title, @user.username) %>
<h1>
  こんにちは、<%= @user.username %>さん！
</h1>

<p><%= @user.username %>さんがログイン中です。</p>
<section class="stats">
  <%= render 'layouts/stats' %>
</section>
<section>
  <%= render 'layouts/follow_form' if user_signed_in? %>
</section>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>カテゴリー</th>
      <th>日付</th>
      <th>価格</th>
      <th>ひとことメモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
  <div class="col-md-8">
<% if @saving_items.any? %>
  <h3>投稿一覧</h3>
  <ol class="saving_items">
  <% @saving_items.each do |item| %>
    <li id="saving_item-<%= item.id %>">
    <span class="user"><%= link_to "#{item[:item_name]}", saving_item_path(item[:id]) %></span>
    <span class="category_id"><%= item.category_id %></span>
    <span class="amount"><%= item.amount %></span>
    <span class="date"><%= item.date %></span>
    <span class="content"><%= item.content %></span>
    <span class="timestamp">
      投稿：<%= time_ago_in_words(item.created_at) %> ago.
    </span>
    </li>
  <% end %>
  </ol>
  <%= paginate @saving_items %>
<% end %>
</div>
</tbody>
</table>

<%= link_to '投稿する', new_saving_item_path %>
<%= link_to 'プロフィール編集', edit_user_registration_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>