<% provide(:title, @user.username) %>
<h1>
  こんにちは、<%= @user.username %>さん！
</h1>

<p><%= @user.username %>さん専用のページです。</p>

<div class="col-md-8">
<% if @user.microposts.any? %>
  <h3>Microposts (<%= @user.microposts.count %>)</h3>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
<% end %>
</div>

<%= link_to 'プロフィール編集', edit_user_registration_path %>