<%= form_with(model: saving_item, local: true) do |form| %>
  <% if saving_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saving_item.errors.count, "error") %> prohibited this saving_item from being saved:</h2>

      <ul>
      <% saving_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :itemname %>
    <%= form.text_field :itemname %>
  </div>

  <div class="field">
    <%= form.label :categoryid %>
    <%= form.number_field :categoryid %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
