<p id="notice"><%= notice %></p>

<h1>Saving Items</h1>

<table>
  <thead>
    <tr>
      <th>Itemname</th>
      <th>Categoryid</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saving_items.each do |saving_item| %>
      <tr>
        <td><%= saving_item.itemname %></td>
        <td><%= saving_item.categoryid %></td>
        <td><%= saving_item.date %></td>
        <td><%= saving_item.amount %></td>
        <td><%= saving_item.memo %></td>
        <td><%= link_to 'Show', saving_item %></td>
        <td><%= link_to 'Edit', edit_saving_item_path(saving_item) %></td>
        <td><%= link_to 'Destroy', saving_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saving Item', new_saving_item_path %>
