<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @saving_item.item_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @saving_item.category_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @saving_item.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @saving_item.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @saving_item.amount %>
</p>

<p>
  <strong>Content:</strong>
  <%= @saving_item.content %>
</p>

<%= link_to 'Edit', edit_saving_item_path(@saving_item) %> |
<%= link_to 'Back', saving_items_path %>
